.main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.ig {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.hidden{
    display: none;
}

.intro-button {
    padding: 2px
}

.link-card-desktop{
    display: none;
}
.link-card-mobile{
    display: block;
}

.mantine-Button-icon{
    fill: none;
    /* width: 50px */
}

@media only screen and (min-width: 1024px) {
    .main {
        width: 75%;
    }

    .link-card-desktop{
        display: block;
    }

    .link-card-mobile{
        display: none;
    }
    
}